a {
  text-decoration: none;
}
body {
  background-color: #35495e;
}
p {
  color: #42b883;
}
}
.top-container {
  vertical-align: middle;
  display: inline;
  position: relative;
  padding-top: 100px;
}
.logo
{
  vertical-align: middle;
  height: 20%;
  width: 10%;
}
.stlawrence
{
  vertical-align: middle;
  height: 700px;
  width: 100%;
}
.letterhead {
  color: #f6ecbf;
  font-family: arial;
  font-display: block;
  font-size: 30px;
  font-weight: bold

}
.letterheadlinks
{
  color: #42b883;
  font-family: arial;
  font-size: 30px;
  font-display: block;
  font-weight: bold;
}
.Description
{
  color: #64b2cd;
  font-family: arial;
  font-size: 30px;
  font-display: block;
  font-weight: bold;
  margin-left: 10%;
}
.News
{
  color: #f75f00;
  font-family: arial;
  font-weight: bold;
  font-size: 30px;

}
